<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @rushing.player %>
</p>

<p>
  <strong>Team:</strong>
  <%= @rushing.team %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @rushing.pos %>
</p>

<p>
  <strong>Att:</strong>
  <%= @rushing.att %>
</p>

<p>
  <strong>Att/g:</strong>
  <%= @rushing.att_by_g %>
</p>

<p>
  <strong>Yds:</strong>
  <%= @rushing.yds %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @rushing.avg %>
</p>

<p>
  <strong>Yds/g:</strong>
  <%= @rushing.yds_by_g %>
</p>

<p>
  <strong>Td:</strong>
  <%= @rushing.td %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @rushing.lng %>
</p>

<p>
  <strong>1st:</strong>
  <%= @rushing.first %>
</p>

<p>
  <strong>1st%:</strong>
  <%= @rushing.first_percentage %>
</p>

<p>
  <strong>20+:</strong>
  <%= @rushing.twenty_plus %>
</p>

<p>
  <strong>40+:</strong>
  <%= @rushing.forty_plus %>
</p>

<p>
  <strong>Fum:</strong>
  <%= @rushing.fum %>
</p>

<%= link_to 'Edit', edit_rushing_path(@rushing) %> |
<%= link_to 'Back', rushings_path %>
